
#wrap{
    border:2px solid grey;
    width:1000px;
    margin:0 auto;
    padding: 20px;
    background-color:lightgray;
}


.input{
    float:left;
    width:50%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#previewPane{
    width:50%;
    height:400px;
    background-color: white;
    float:left;
}

#buttons{
    padding:50px;
    background-color:darkgrey;
    border-radius: 10px;
    float:left;
}
